<!DOCTYPE html>
<html>
<head>
    <title>Sreality Ads</title>
</head>
<body>
    <ul>
        {% for item in data %}
            <li>
                <h2>{{ item[0] }}</h2>
                <img style="margin-bottom: 50px;" src="{{ item[1] }}" alt="{{ item[0] }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
